<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="hu.bme.mit.mercury.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="hu.bme.mit.mercury.rcp.Perspective"
            id="hu.bme.mit.mercury.rcp.perspective">
      </perspective>
   </extension>
 <extension
         point="org.eclipse.ui.views">
      <view
            name="View"
            class="hu.bme.mit.mercury.rcp.View"
            id="hu.bme.mit.mercury.rcp.view">
      </view>
   <!--     <view
            class="org.eclipse.ui.navigator.resources.ProjectExplorer"
            id="hu.bme.mit.mercury.rcp.projectexplorer"
            name="Project Explorer"
            restorable="true">
      </view>--> 
   </extension>
  
      <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="org.eclipse.ui.navigator.ProjectExplorer"
               minimized="false"
               ratio="0.25f"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="org.eclipse.ui.views.PropertySheet"
               minimized="false"
               ratio="0.65f"
               relationship="bottom"
               relative="org.eclipse.ui.editorss">
         </view>
           <view
               standalone="true"
               minimized="false"
               relative="org.eclipse.ui.editorss"
               relationship="top"
               id="hu.bme.mit.mercury.rcp.view">
         </view>
      </perspectiveExtension>
   </extension>
<!--
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               standalone="true"
               minimized="false"
               relative="org.eclipse.ui.editorss"
               relationship="left"
               id="hu.bme.mit.mercury.rcp.view">
         </view>
         <view
               id="hu.bme.mit.mercury.rcp.projectexplorer"
               minimized="false"
               relationship="left"
               relative="hu.bme.mit.mercury.rcp.view"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
-->
    <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="file"
               label="&amp;File">
            <command
                  commandId="org.eclipse.ui.newWizard">
            </command>
            <separator
                  name="hu.bme.mit.mercury.rcp.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.save">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAs">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAll">
            </command>
            <separator
                  name="hu.bme.mit.mercury.rcp.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.import">
            </command>
            <command
                  commandId="org.eclipse.ui.file.export">
            </command>
            <separator
                  name="hu.bme.mit.mercury.rcp.separator3"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.restartWorkbench">
            </command>
            <command
                  commandId="org.eclipse.ui.file.exit">
            </command>
         </menu>
         <menu
               id="edit"
               label="&amp;Edit">
            <command
                  commandId="org.eclipse.ui.edit.undo">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.redo">
            </command>
            <separator
                  name="hu.bme.mit.mercury.rcp.separator4"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.cut">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.copy">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.paste">
            </command>
            <separator
                  name="hu.bme.mit.mercury.rcp.separator5"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.delete">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.selectAll">
            </command>
            <separator
                  name="hu.bme.mit.mercury.rcp.separator6"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.findReplace">
            </command>
         </menu>
         <menu
               id="window"
               label="&amp;Window">
            <command
                  commandId="org.eclipse.ui.views.showView">
            </command>
         </menu>
         <menu
               id="help"
               label="&amp;Help">
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  label="About Trans-IMA"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="hu.bme.mit.mercury.rcp.toolbar">
            <command
                  commandId="org.eclipse.ui.newWizard"
                  label="New">
            </command>
            <command
                  commandId="org.eclipse.ui.file.save"
                  label="Save">
            </command>
            <command
                  commandId="org.eclipse.ui.file.saveAll"
                  label="Save All">
            </command>
            <separator
                  name="hu.bme.mit.mercury.rcp.separator7"
                  visible="true">
            </separator>
            <command
                  commandId="hu.bme.mit.mercury.rcp.command.refresh"
                  icon="icons/refresh.gif"
                  label="Refresh"
                  style="push"
                  tooltip="Refresh the actual editor view">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
     <extension
         point="org.eclipse.ui.commands">
      <command
            id="hu.bme.mit.mercury.rcp.command.refresh"
            name="Refresh">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="hu.bme.mit.mercury.rcp.handlers.RefreshHandler"
            commandId="hu.bme.mit.mercury.rcp.command.refresh">
      </handler>
   </extension>
</plugin>
