<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="emfnotification.activedomaineditor">
         <with
               variable="activeEditor">
            <instanceof
                  value="model.presentation.ModelEditor">
            </instanceof>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="emfnotification.plugin.TestHandler"
            commandId="emfnotification.initalize">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="emfnotification.initalize"
            name="Initilaize">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="emfnotification.plugin.StartupClass">
      </startup>
   </extension>

</plugin>
